*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #17181a;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#logo{
    color: white;
    font-family: 'Abril Fatface', sans-serif;
}